@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
* {
  margin: 0rem;
  padding: 0rem;
  border: 0;/*sets the border of an element to 0, which essentially removes any border*/
  outline: 0;/*removes the outline or border around an element when it is clicked.*/
  box-sizing: border-box;/*this will set the margiin and padding of every element to zero*/
  list-style: none;
  text-decoration: none;
}

:root {
  --color-l-bg:  rgb(191, 190, 190);
  --color-l-bg-variant: rgb(155, 155, 155);
  --color-d-bg:  rgb(15, 17, 45);
  --color-d-bg-variant: rgb(4, 6, 29);
  --color-primary: rgb(124, 5, 60);
  --color-primary-variant: rgb(81, 5, 41);
  --color-secondary: rgb(150, 89, 234);
  --color-secondary-variant: rgb(114, 45, 211);
  --color-white: white;
  --color-light: rgb(225, 224, 224);
  --color-dark: rgb(7, 3, 38);

  --transition: 1000ms ;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
body{
  font-family: 'roboto', 'sans-serif';
  background-color: rgb(240, 240, 240);
}
.btn{
  margin: .3rem;
  padding: .3rem;
  border-radius: .2rem;
  font-size: 1rem;
  color: var(--color-l-bg-variant);
}
.btn-l{
  background-color: var(--color-d-bg);
}
.btn-d{
  background-color: var(--color-d-bg-variant);
}
.btn:hover{
  cursor: pointer;
  transition: var(--transition);
  color: var(--color-l-bg);
}
.btn-l:hover{
  transition: var(--transition);
  background-color: var(--color-d-bg-variant);
  transition: var(--transition);
}
.btn-d:hover{
  background-color: var(--color-d-bg);
  transition: var(--transition);
}

@media screen and (max-width: 800px){
  .home{
    width: 100%;
}
.home__container{
    flex-direction: column;
    width: 90%;
    /* background-color: var(--color-l-bg-variant); */
}
.home__preferances{
    width: 100%!important;
    height: auto!important;
}
.home__jobs{
    width: 100%!important;
}
.preference__container{
  height: auto!important;
}
#register__container{
  height: auto;
  width: 80%;
  flex-direction: column;
  justify-content: center;
}
.register{
  margin-top: 5rem;
}
.register>form{
  margin-top: 0rem;
}
.login>form{
  width: 60%!important;
}
.apply{
  margin-left: 5%!important;
  margin-right: 5%!important;
}
.postjob__container{
  width: 90%!important;
}
}

@media screen and (max-width: 500px){
  #appName{
    font-size: 1rem!important;
  }
  .responseCard__container>img{
    width: 2rem!important;
    height: 2rem!important;
}
.responseCard__container>h1{
    font-size: .7rem!important;
}
.responseCard__container>p{
    font-size: .6rem!important;
}
.responseCard__container--icon{
    font-size: 1rem!important;
}
}