.response{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.response>h1{
    margin: .3rem;
    padding: .2rem;
    font-size: 2rem;
    
}
.response__container{
    width: 90%;
    background-color: var(--color-l-bg);
}